@charset "UTF-8";
/* скидання усіх стилів */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
  color: #252B42;
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat;
  background: #FAFAFA;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1045px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 105px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 478.98px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0 0 0 135px;
}
@media (max-width: 991.98px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767.98px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 478.98px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

.menu {
  padding: 5px 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.menu__link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 478.98px) {
  .menu__link {
    font-size: 18px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-block {
  text-align: center;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}
@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}
.header-block__sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #737373;
}

.main-block {
  position: relative;
}
.main-block__body {
  padding: 185px 0 190px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 190px 0;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 110px 0 170px 0;
  }
}
.main-block__title {
  font-size: 58px;
  line-height: 137.9310344828%;
  font-weight: 800;
  letter-spacing: 0.2px;
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #737373;
}
@media (max-width: 780px) {
  .main-block__text {
    font-weight: 700;
  }
}
.main-block__btns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 36px;
  border-radius: 37px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.2px;
  min-height: 48px;
  text-align: center;
}
@media (max-width: 479px) {
  .main-block__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.main-block__btn-orange {
  background: #FF7B47;
  color: #fff;
}
.main-block__btn-orange:hover {
  background: #a13d16;
}
.main-block__btn-border {
  border: 1px solid #0D5C63;
  color: #0D5C63;
}
.main-block__btn-border:hover {
  background: #0D5C63;
  color: #fff;
}
.main-block__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__img > img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__img > img {
    opacity: 0.5;
  }
}
@media (max-width: 585px) {
  .main-block__img > img {
    opacity: 0.3;
  }
}

.services__container {
  margin: -85px auto;
  position: relative;
  z-index: 2;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0 0 110px 0;
}
@media (max-width: 992px) {
  .services__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 35px 40px;
  background: #FFF;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.services__item-center {
  background: #0D5C63;
}
.services__item-center .services__title,
.services__item-center .services__text {
  color: #fff;
}
@media (max-width: 992px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 300px;
  }
}
@media (max-width: 660px) {
  .services__item {
    padding: 25px 30px;
    max-width: 400px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 25px;
  }
}
.services__link > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
}
@media (max-width: 560px) {
  .services__title {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .services__title {
    font-size: 20px;
  }
}
.services__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.advantages {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 30px 0;
  }
}
.advantages__header {
  margin: 0 0 50px 0;
}
@media (max-width: 767px) {
  .advantages__header {
    margin: 0 0 25px 0;
  }
}
.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.advantages__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 1020px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.advantages__item {
  background-color: #fff;
  text-align: center;
  padding: 30px;
  font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
.advantages__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #737373;
}

.practice {
  padding: 100px 0 80px 0;
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0 50px 0;
  }
}
.practice__header {
  margin: 0 0 45px 0;
}
@media (max-width: 767px) {
  .practice__header {
    margin: 0 0 25px 0;
  }
}
.practice__body {
  margin: 0 -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.practice__column {
  padding: 0 20px;
  margin: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 1040px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item-practice {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-practice__link {
  display: inline-block;
  color: inherit;
}
.item-practice__link > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-practice__link:hover {
  text-decoration: underline;
}
.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-practice__text {
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
.item-practice__img {
  display: block;
  padding: 0 0 60% 0;
}

.whoweare {
  padding: 80px 0 130px 0;
  background-color: #fff;
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0px;
  }
}
@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0 50px 0px;
  }
}
.whoweare__header {
  margin: 0 0 100px 0;
}
@media (max-width: 950px) {
  .whoweare__header {
    margin: 0 0 30px 0;
  }
}
.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 950px) {
  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 950px) {
  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }
}
.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0 0 120px;
  margin: 0 0 50px 0;
}
@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0 0 50px;
  }
}
@media (max-width: 950px) {
  .whoweare__content {
    padding: 0px 0 0 0px;
  }
}
@media (max-width: 767px) {
  .whoweare__content {
    margin: 0 0 30px 0;
  }
}
.whoweare__top {
  margin: 0px 0 50px 0;
}
@media (max-width: 767px) {
  .whoweare__top {
    margin: 0 0 30px 0;
  }
}
.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
  }
}
.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.whoweare__text {
  font-weight: 500;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #737373;
}
.whoweare__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}
.item-whoweare__text {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
  width: 225px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.clients {
  margin: 0 0 10px 0;
}
.clients__container {
  padding: 50px 0px;
}
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.clients__item {
  padding: 20px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16.6%;
          flex: 1 1 16.6%;
}

.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}
.subscribe::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  content: "";
  background: #252B42;
}
.subscribe__body {
  padding: 30px 50px;
  background: #17213C;
  border-radius: 2px;
  z-index: 2;
  position: relative;
}
@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0 30px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 810px) {
  .subscribe__body {
    margin: 0 -15px;
    padding: 20px 25px;
  }
}
.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #FFF;
}
@media (max-width: 810px) {
  .subscribe__title {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 460px) {
  .subscribe__title {
    font-size: 20px;
  }
}
@media (min-width: 810px) {
  .subscribe__title {
    max-width: 265px;
  }
}
.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  background: #F9F9F9;
  border-radius: 5px 0px 0px 5px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
}
.subscribe__input:focus {
  color: #000;
}
@media (max-width: 810px) {
  .subscribe__input {
    padding: 0px 15px;
  }
}
.subscribe__btn {
  padding: 0px 25px;
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: 400;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.subscribe__btn:hover {
  background-color: #252B42;
  cursor: pointer;
}
@media (max-width: 810px) {
  .subscribe__btn {
    padding: 0px 15px;
  }
}

.getintouch {
  padding: 80px 0 110px 0;
}
@media (max-width: 993px) {
  .getintouch {
    padding: 50px 0;
  }
}
.getintouch__header {
  margin: 0 0 80px 0;
}
@media (max-width: 993px) {
  .getintouch__header {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 767px) {
  .getintouch__header {
    margin: 0 0 30px 0;
  }
}
.getintouch__items {
  margin: 0 -15px;
  min-height: 400px;
}
@media (min-width: 992px) {
  .getintouch__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}
.getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 50px 15px;
}

.item-getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 15px;
  background-color: #fff;
}
.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}
.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: inherit;
}
.item-getintouch__btn {
  font-weight: 600;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FF7B47;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  padding: 10px 20px;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-getintouch__btn:hover {
  background-color: #FF7B47;
  color: #fff;
}
.item-getintouch_center {
  background: #252B42;
  color: #fff;
  padding: 80px 15px;
}
.item-getintouch_center .item-getintouch__btn {
  color: #fff;
  border: 1px solid #fff;
}

.contact {
  background-color: #fff;
  padding: 40px 0;
}
@media (min-width: 767px) {
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contact__content {
  padding: 0 0px 20px 0;
}
@media (min-width: 767px) {
  .contact__content {
    padding: 0 20px 0px 0;
  }
}
.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
}
.contact__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.contact__text {
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
.contact__btn {
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFF;
  padding: 15px 40px;
  background: #FF7B47;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact__btn:hover {
  background-color: #fff;
  color: #FF7B47;
  border: 1px solid #FF7B47;
}

.footer__row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__top {
  background: #17213C;
  padding: 30px 0;
}
.footer__container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .footer__container-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__column {
  min-width: 170px;
  padding: 20px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.667%;
          flex: 0 1 16.667%;
}
.footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}
@media (max-width: 992px) {
  .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 992px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 700px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.footer__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #fff;
  margin: 0 0 20px 0;
}
.footer__bottom {
  padding: 25px 0;
}
.footer__sub {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}
@media (max-width: 767px) {
  .footer__sub {
    margin: 0 0 15px 0;
    text-align: center;
  }
}

.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}
.menu-footer__link {
  color: #fff;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
}
.menu-footer__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-footer__item {
  padding: 0 0 0 34px;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #FFF;
}
.contacts-footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}
.contacts-footer__item-phone {
  background: url("../img/footer/svg/phone.svg") 0 0 no-repeat;
}
.contacts-footer__item-map {
  background: url("../img/footer/svg/map.svg") 0 0 no-repeat;
}
.contacts-footer__item-email {
  background: url("../img/footer/svg/email.svg") 0 0 no-repeat;
}
.contacts-footer__item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.contacts-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}